---
layout: splash
title: Project Play
---

<div class="text-center content">

	<a name='whenwhere'></a>
	<div class="col-xs-12">
		{% include social_nav.html %}
	</div>
	{% include poly_1.html %}
	<div class="poly_1">
		<div class="row">
			<h1>Game. Play. Give.</h1>
		</div>
		<div class='row'>
			<h1>October 18th 2015</h1>
			<h2>London Convention Center</h2><br />
			<div class='col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 alert-info ticket-info'><a href='https://www.vendini.com/ticket-software.html?t=tix&e=6c4148ada08cae47bd47ac24983f0c97' target='_blank'>Get Tickets Now!</a></div>
			<br /><br /><br />
			<div class='col-xs-10 col-xs-offset-1'>
				For 2015 ProjectPlay has joined forces with <a href='http://www.forestcitycomicon.ca/' target="_blank">Forest City ComicCon</a> to run one mega-sized event. Join us on Sunday October 18th, at the London Convention Center for a celebration of Fandom, Gaming, and Giving.
			</div>

		</div>

		{% include poly_footer.html %}
	</div>

</div>