<div class="container" style="background: none;">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<button type="button btn-sm" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headnav"><span>Navigation</span></button>
		<div class="container collapse navbar-collapse" id="headnav">
			<ul class="nav nav-justified">
				<li><a class='nav1 guestlist-event-274008' href="#">BUY TICKETS NOW</a></li>
				<li><a class='nav2'  href="/">Event Details</a></li>
				<li><a class='nav3' href="/play">Opportunities to Play</a></li>
				<li><a class='nav4' href="/partners">Show Partners</a></li>
				<li><a class='nav5' href="/about">About Project Play</a></li>
			</ul>
		</div>
	</nav>
</div>