<ul class='nav navbar-nav social-pills'>
	<li>
		<a href='mailto:greg@projectplay.ca'>
			<span class='fa-stack fa-2x'>
				<i class='fa fa-circle fa-stack-2x'></i>
				<i class='fa fa-fw fa-stack-1x fa-inverse fa-envelope-o'></i>
			</span>
		</a>
	</li>
	<li>
		<a href='//facebook.com/projectplaylondon' target='_blank'>
			<span class='fa-stack fa-2x'>
				<i class='fa fa-circle fa-stack-2x'></i>
				<i class='fa fa-fw fa-stack-1x fa-inverse fa-facebook'></i>
			</span>
		</a>
	</li>
	<li>
		<a href='//twitter.com/projectplayldn' target='_blank'>
			<span class='fa-stack fa-2x'>
				<i class='fa fa-circle fa-stack-2x'></i>
				<i class='fa fa-fw fa-twitter fa-stack-1x fa-inverse'></i>
			</span>
		</a>
	</li>
	<li>
		<a href='//instagram.com/projectplayldn' target='_blank'>
			<span class='fa-stack fa-2x'>
				<i class='fa fa-circle fa-stack-2x'></i>
				<i class='fa fa-fw fa-stack-1x fa-inverse fa-instagram'></i>
			</span>
		</a>
	</li>
</ul>