<div class="container" style="background: none;">
	<div class="col-xs-6">
		<ul class="nav nav-pills">
			<li class="dropdown" id="mainmenu">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Main Menu <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/#whenwhere">When is it?</a></li>
					<li><a href="/#whattoplay">What can I play?</a></li>
					<li><a href="/#exhibit">Can I help?</a></li>
					<li><a href="/#what">What is this thing?</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="col-xs-6">
		{% include social_nav.html %}
	</div>
</div>