---
layout: pages
title: Ticketstarter - Project Play
---

<div class="text-center wrap">
	{% include poly_1.html %}
	<div class="poly_1 poly_single">
		<br/>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">			
				<p>Welcome to Project Play's TicketStarter. Get your ticket now to play the game!</p>
			</div>
		</div>
		<div class='row'>
			<div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 alert-info ticket-info"><a title="Register for Project Play" href="#" class="guestlist-event-274008"><strong>Buy your $10 ticket!</strong></a></div>
		</div>

		<div class="row">
			<div class="col-xs-2 col-sm-offset-1 hidden-xs">
				<p class='huge'>25</p><p class="small">sold</p>
			</div>
			<div class="col-xs-12 col-sm-8">
				<p><strong>Conquerer of Cons</strong>
				<small>We're teaming up with Forest City Comic Con and giving out free tickets! 

					1 free ticket to Project Play and 1 free ticket to Forest City Comic Con for 2015.</small>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-2 col-sm-offset-1 hidden-xs">
				<p class='huge'>50</p><p class="small">sold</p>
			</div>
			<div class="col-xs-12 col-sm-8">
				<p><strong>Pugilist of the Page</strong>
				<small>We've teamed up with Heroes Cards and Comics and L.A. Mood's to offer up a prize pack to one lucky person! $20 gift certificate at Heroes, and a $20 gift certificate at L.A. Mood's, sponsored by GamesDay.</p>
			</div>
		</div>

		{% include poly_footer.html %}

	</div>
</div>