---
layout: pages
title: Ticketstarter - Project Play
---

<div class="text-center wrap">
	{% include poly_1.html %}
	<div class="poly_1 poly_single">
		<br/>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<p>Welcome to Project Play's TicketStarter. Preorder your event ticket now to win wonderful loot!</p>
			</div>
		</div>
		<div class='row'>
			<div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 alert-info ticket-info" style="font-size:1.4em;"><a title="Register for Project Play" href="#" class="guestlist-event-274008"><strong>Get tickets and win!</strong></a></div>
		</div>
		<br />

		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<img class='center-block img-responsive' src='/img/tier1.png' />
				<p><strong>Conquerer of Cons</strong></p>
				<p><small>We're teaming up with Forest City Comic Con and giving out free tickets! 1 free ticket to Project Play and 1 free ticket to Forest City Comic Con for 2015.</small></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<img class='center-block img-responsive' src='/img/tier2.png' />
				<p><strong>Pugilist of the Page</strong></p>
				<p><small>We've teamed up with Heros Cards and Comics and L.A. Mood's to offer up a prize pack to one lucky person! $20 gift certificate at Heroes, and a $20 gift certificate at L.A. Mood's, sponsored by <a href='http://gamesday.ca/' target='_blank'>GamesDay</a> London's longest running gaming podcast!</small></p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<img class='center-block img-responsive' src='/img/tier3.png' />
				<p><strong>Maestro of Merch</strong> - UNLOCKING NEXT</p>
				<p><small>At this tier, you get a vintage Project Play tee, a Project Play 2014 tee, a button pack, and one of each of the super rare buttons we'll have available at this year's show that are available as trade-only items</small></p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<img class='center-block img-responsive' src='/img/tier4.png' />
				<p><strong>Titan of the Tabletop</strong> - UNLOCKING SOON</p>
				<p><small>When we reach 100 tickets pre-sold we'll be giving away a pack of tabletop gaming goodies from Worlds Away, Uber Cool, and L.A. Mood's here in London!</small></p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<img class='center-block img-responsive' src='/img/tier5.png' />
				<h2>Tier Locked</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<img class='center-block img-responsive' src='/img/tier6.png' />
				<h2>Tier Locked</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<img class='center-block img-responsive' src='/img/tier7.png' />
				<h2>Tier Locked</h2>
			</div>
		</div>


		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<p><strong>Here's how it works!</strong> You buy a ticket and your name gets entered in a draw for loot. As certain numbers of tickets are purchased, a loot tier is unlocked. All people who have already bought tickets get a chance to win. If you do win, you collect your prize and your name is removed from the draw.
The more pre-event tickets we sell, the more tiers we unlock and the more prizes you can win! We've teamed up with local hobby shops, gaming stores, and many more spots to make each tier even more juicy than the last.</p>
			</div>
		</div>



		{% include poly_footer.html %}

	</div>
</div>