---
layout: pages
title: About - Project Play
---


<div class="text-center wrap">
	{% include poly_4.html %}
	<div class="poly_4 poly_single">

		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h1>About Us</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<p>Project Play is an <a href='http://www.pillarnonprofit.ca/content/award-recipients-announced' target='_blank'>award-winning</a> charity that hosts a one day gaming event, bringing together gamers of all stripes to raise funds to support community organizations in the London area. Fans of video games, board games, card games, anime, cosplay, live-action role playing, and more come together for a day of fun and community building, with all money raised giving children the chance to experience play for themselves.</p>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<p><b>WHO:</b> Family friendly, we welcome all ages to join in on a day of fun and games! Hangout with some of the Gaming companies in town, visit cool vendors, participate in our Cosplay event and much more!</p>
			</div>
		</div>

		<br />
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h1>Who We're Helping in 2014</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<p>Each year Project Play chooses a number of Local Orginizations and donates to them all proceeds from ticket sales, in the form of games and other oppourtinities to play!</p>

				<p>This year we've decided to help out Boyle Council, The South London Community Resource Center, and Extra Life 2014!</p>
			</div>
		</div>

		<br />
		<div class="row">

			<div class="col-sm-6 col-xs-12">
				<a href="http://www.boylecouncil.ca/" target="_blank">
					<img src='/img/logo-boyle.png' class='img-responsive center-block' alt='Boyle Council Logo' />
				</a><br />
				<div class="col-xs-10 col-xs-offset-1">
					<p>The <strong>Boyle Activity Council</strong> is a volunteer committee dedicated to providing the Old East Village neighbourhood with affordable recreation opportunities. The BAC, along with key community partners, offer programs for residents of all ages.</p>
					<a href="//www.boylecouncil.ca/"  class='linkbox' target="_blank">www.boylecouncil.ca</a>
				</div>
			</div>

			<div class="col-sm-6 col-xs-12">
				<a href="http://www.slnrc.org/" target="_blank">
					<img src='/img/logo-slcrc.png' class='img-responsive center-block' alt='South London Community Resource Centre Logo' />
				</a><br />
				<div class="col-xs-10 col-xs-offset-1">
					<p>The <strong>South London Neighbourhood Resource Centre</strong> operates as a Family, Child & Youth Community Enrichment Centre. The Centre supports and fosters the development of community based and community driven projects that nurture and enhance a healthy quality of life for residents of South London</p>
					<a href="//www.slnrc.org/"  class='linkbox' target="_blank">www.slnrc.org</a>
				</div>
			</div>

			<div class="col-sm-6 col-xs-12">
				<a href="http://www.extra-life.org/" target="_blank">
					<img src='/img/logo-nelce.png' class='img-responsive center-block' alt='Extra Life Logo' />
				</a><br />
				<div class="col-xs-10 col-xs-offset-1">
					<p><strong>North East London Community Engagement</strong> [NELCE] is a resident-based, action-oriented volunteer group celebrating and strengthening the community of Northeast London. NELCE is a forum for residents to voice concerns and issues. We support a strong sense of community pride and participation, provide opportunities for community leadership, and celebrate the diversity and vibrancy of London's Northeast. </p>
					<a href="http://www.nelce.ca/" class='linkbox' target="_blank">www.nelce.ca</a>
				</div>
			</div>

			<div class="col-sm-6 col-xs-12">
				<a href="http://www.extra-life.org/" target="_blank">
					<img src='/img/logo-extralife.png' class='img-responsive center-block' alt='Extra Life Logo' />
				</a><br />
				<div class="col-xs-10 col-xs-offset-1">
					<p>Play games and heal kids Childrens Miracle Network Hospitals. <strong>Extra Life 2014</strong> is going to be a part of Project Play this year and participants can raise money for this worthwhile cause! More on this will be coming soon!</p>
					<a href="//www.extra-life.org/" class='linkbox' target="_blank">www.extra-life.org</a>
				</div>
			</div>

		</div>

	{% include poly_footer.html %}

	</div>
</div>