---
layout: pages
title: Game On! - Project Play
---


<div class="text-center wrap">
	{% include poly_2.html %}
	<div class="poly_2 poly_single">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h1>Holy Games, Batman!</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<p>We like to lead by example here at Project Play, so of course we intend for there to be a gluttony of games on hand for all atendees to enjoy.</p>

				<p>Get in there and get hands on with some old favorites, or take a chance and learn a brand new way to play!</p>
			</div>
		</div>

		<br />

		<div class="row">
			<div class="col-xs-4 col-md-2 col-md-offset-1"><img class='img-responsive' src='/img/games/hex-warframe.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-carcassone.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-catan.png' /></div>
			<div class="col-xs-4 col-xs-offset-2 col-md-offset-0 col-md-2"><img class='img-responsive' src='/img/games/hex-chezgeek.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-cockroachpoker.png' /></div>
			<div class="col-xs-4 col-md-2 col-md-offset-2"><img class='img-responsive' src='/img/games/hex-dota2.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-duckhunt.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-forbiddenisland.png' /></div>
			<div class="col-xs-4 col-xs-offset-2 col-md-offset-0 col-md-2"><img class='img-responsive' src='/img/games/hex-ghostblitz.png' /></div>
			<div class="col-xs-4 col-md-2 col-md-offset-1"><img class='img-responsive' src='/img/games/hex-guillotine.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-heroesunlimited.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-injustice.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-kahuna.png' /></div>
			<div class="col-xs-4 col-xs-offset-2 col-md-offset-0 col-md-2"><img class='img-responsive' src='/img/games/hex-kingoftokyo.png' /></div>
			<div class="col-xs-4 col-md-2 col-md-offset-2"><img class='img-responsive' src='/img/games/hex-leeg.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-loveletter.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-mariokart8.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-miceandmystics.png' /></div>
			<div class="col-xs-4 col-xs-offset-2 col-md-2 col-md-offset-1"><img class='img-responsive' src='/img/games/hex-mtg.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-nidhogg.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-pokemon.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-quarriors.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-roborally.png' /></div>
			<div class="col-xs-4 col-xs-offset-2 col-md-2 col-md-offset-2"><img class='img-responsive' src='/img/games/hex-smallworld.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-smashbros.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-spacemarines.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-spotit.png' /></div>
			<div class="col-xs-4 col-md-2 col-md-offset-1"><img class='img-responsive' src='/img/games/hex-tichu.png' /></div>
			<div class="col-xs-4 col-xs-offset-2 col-md-offset-0 col-md-2"><img class='img-responsive' src='/img/games/hex-tickettoride.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-toctocwoodman.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-towerfall.png' /></div>
			<div class="col-xs-4 col-md-2"><img class='img-responsive' src='/img/games/hex-belfort.png' /></div>
			<div class="col-xs-4 col-md-2 col-md-offset-4"><img class='img-responsive' src='/img/games/hex-wasabi.png' /></div>
			<div class="col-xs-4 col-xs-offset-2 col-md-offset-0 col-md-2"><img class='img-responsive' src='/img/games/hex-zombicide.png' /></div>
			<div class="col-xs-4 col-md-2 col-md-offset-5"><img class='img-responsive' src='/img/games/hex-zombieflux.png' /></div>
		</div>

		{% include poly_footer.html %}

	</div>