---
layout: pages
title: Partners - Project Play
---


<div class="text-center wrap">
	{% include poly_3.html %}
	<div class="poly_3 poly_single">

		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h1>Sponsors!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<p>Project Play would not be able to grow without the generous support of our sponsors. Their generosity ensures that we can use all the money raised through ticket sales and at the event to give back to the community and give children the chance to play.</p>
			</div>
		</div>
		<div class='row'>
			<div class="col-md-4 col-xs-12">
				<h2>Legendary Sponsors</h2>
				<div class="col-xs-6 col-xs-offset-3"><a href='http://bigbluebubble.com/' target="_blank"><img class='img-responsive logo' src="/img/sponsor-bbb.png"></a></div>
			</div>
			<div class="col-md-4 col-xs-12">
				<h2>Epic Sponsors</h2>
				<div class="col-xs-6"><a href='http://www.bigvikinggames.com/' target="_blank"><img class='img-responsive logo' src="/img/sponsor-bvg.png"></a></div>
				<div class="col-xs-6"><a href='http://www.digitalextremes.com/' target="_blank"><img class='img-responsive logo' src="/img/sponsor-de.png"></a></div>
			</div>

			<div class="col-md-4 col-xs-12">
				<h2>Heroic Sponsors</h2>
				<div class="col-xs-6 col-xs-offset-3"><a href='http://www.ledc.com/' target="_blank"><img class='img-responsive logo' src="/img/sponsor-ledc.png"></a></div>
			</div>
		</div>
		</br>

		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h1>Exhibitors!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1"><a href="http://www.gameonentertainmentservices.com/" target="_blank">Game On Services</a></div>
			<div class="col-xs-5"><a href="http://every1games.ca/" target="_blank">Every1Games</a></div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1"><a href="https://www.facebook.com/groups/LondonSmashBros/om/" target="_blank">Super Smash Bros Melee</a></div>
			<div class="col-xs-5"><a href="www.thegamechamber.com/" target="_blank">The Game Chamber</a></div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1"><a href="http://worldsawaylondon.com" target="_blank">Worlds Away</a></div>
			<div class="col-xs-5"><a href="http://www.londonpubliclibrary.ca/" target="_blank">London Public Library</a></div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1"><span>THC Games</span></div>
			<div class="col-xs-5"><a href="www.omgquanta.com" target="_blank">OMG! Quanta Games</a></div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1"><a href="http://gamesday.ca/" target="_blank">GamesDay</a></div>
			<div class="col-xs-5"><a href="http://www.analogcasual.com" target="_blank">Analog Casual Studios</a></div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1"><span>rebel city games</span></div>
			<div class="col-xs-5"><span>Draxa Dicemes</span></div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1"><a href="http://zoeandgavin.com/radio-silence" target="_blank">Zoe and Gavin Games</a></div>
			<div class="col-xs-5"><a href="www.no-dice.caa/" target="_blank">No-dice games</a></div>
		</div>


		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h1>Vendors!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1"><span>Kard Konnections</span></div>
			<div class="col-xs-5"><a href="http://lamoodcomics.com" target="_blank">L.A. Mood Comics & Games</a></div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1"><a href="http://chuonscribbles.blogspot.ca" target="_blank">Janice Chu</a></div>
			<div class="col-xs-5"><a href="http://witchandwarrior.storenvy.com/" target="_blank">Witch and Warrior</a></div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1"><a href="www.rogeradams.ca" target="_blank">RogCorp</a></div>
			<div class="col-xs-5"><a href="www.ericvedder.ca" target="_blank">E.V.IL. (Eric Vedder Illustration)</a></div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1"><a href="http://oceantann.com" target="_blank">Oceantann</a></div>
			<div class="col-xs-5"><a href="https://www.facebook.com/catstacheandtwocats" target="_blank">Catstache</a></div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1"><a href="https://www.facebook.com/pages/Charlies-Trading-Post/283202321703874" target="_blank">Charlie's Trading Post</a></div>
			<div class="col-xs-5"><a href="http://pasiphilo.gaminggeek.ca" target="_blank">Gaming Geek</a></div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1"><a href="www.neotokyo.ca" target="_blank">Neo Tokyo, The Anime Store</a></div>
			<div class="col-xs-5"><a href="http://witchandwarrior.storenvy.com/" target="_blank">Witch and Warrior</a></div>
		</div>


		{% include poly_footer.html %}

	</div>
</div>