<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>

		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css">
	</head>

	<body id='front'>

		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class='navbar-header'>
					<h5><a href="/" class='text-muted'>Contact Us</a></h5>
				</div>
				<div class="navbar">
					<ul class='nav navbar-nav navbar-right'>
						<li><a href='//facebook.com/projectplayldn'><i class='fa fa-fw fa-lg fa-facebook-square'></i></a></li>
						<li><a href='//twitter.com/projectplayldn'><i class='fa fa-fw fa-lg fa-twitter-square'></i></a></li>
						<li><a href='//instagram.com/projectplayldn'><i class='fa fa-fw fa-lg fa-instagram'></i></a></li>
					</ul>
				</div>
			</div>
		</nav>

		{{ content }}

		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script async src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	</body>
</html>