<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>


	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	<link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<div class="container">
		<nav class="" role="navigation">

			<div class="col-xs-6">
				<ul class="nav navbar-nav nav-pills">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Main Menu <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/#whenwhere">When is it?</a></li>
							<li><a href="/#whattoplay">What can I play?</a></li>
							<li><a href="/#exhibit">Can I help?</a></li>
							<li><a href="/#what">What is this thing?</a></li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="col-xs-6">
				<ul class='nav navbar-nav social-pills'>
					<li>
						<a href='mailto:greg@projectplay.ca'>
							<span class='fa-stack fa-2x'>
								<i class='fa fa-circle fa-stack-2x'></i>
								<i class='fa fa-fw fa-stack-1x fa-inverse fa-envelope-o'></i>
							</span>
						</a>
					</li>
					<li>
						<a href='//facebook.com/projectplaylondon' target='_blank'>
							<span class='fa-stack fa-2x'>
								<i class='fa fa-circle fa-stack-2x'></i>
								<i class='fa fa-fw fa-stack-1x fa-inverse fa-facebook'></i>
							</span>
						</a>
					</li>
					<li>
						<a href='//twitter.com/projectplayldn' target='_blank'>
							<span class='fa-stack fa-2x'>
								<i class='fa fa-circle fa-stack-2x'></i>
								<i class='fa fa-fw fa-twitter fa-stack-1x fa-inverse'></i>
							</span>
						</a>
					</li>
					<li>
						<a href='//instagram.com/projectplayldn' target='_blank'>
							<span class='fa-stack fa-2x'>
								<i class='fa fa-circle fa-stack-2x'></i>
								<i class='fa fa-fw fa-stack-1x fa-inverse fa-instagram'></i>
							</span>
						</a>
					</li>
				</ul>
			</div>

		</nav>

		{{ content }}

		<footer>
			<div class="text-center hide">
				<p><strong>@2014 Project Play</strong></p>
				<a href='#'>Exhibit</a> | <a href='#'>Sponsor</a> | <a href='#'>Volunteer</a> | <a href='#'>Contact</a> | <a href='#'>Press Info</a> | <a href='#'>FAQ</a>
			</div>
			<div class="text-center">
				<br /><br />
				<small><p>Come and game for community on November 23!</p></small>
			</div>
		</footer>
	</div>

	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script async src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>


</body>
</html>